/*
*   Agora você precisará entender um pouco de CSS e HTML para continuar o desafio! :D
*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: url('background.jpg') no-repeat center top;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.text-claro{
        color: rgb(134, 133, 136);
}
.text-escuro{
    color: rgb(69, 69, 70);
    text-align: center;
}

.jumbotron{
    margin: 10px;
}

    
.box{   
        position: relative;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
}
.logo {
    display: block;
    margin-left: auto;;
    margin-right: auto;
}
